## Final Project Submission

Please fill out:
* Student name: Lucas Noble
* Student pace: part time
* Scheduled project review date/time: 
* Instructor name: Jeff 
* Blog post URL:

## Starting the project

##### Importing all necessary Libraries

In [17]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelBinarizer
import numpy as np

## Loading and exploring Dataset

In [18]:
df= pd.read_csv('kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [19]:
df.keys()

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
id               21597 non-null int64
date             21597 non-null object
price            21597 non-null float64
bedrooms         21597 non-null int64
bathrooms        21597 non-null float64
sqft_living      21597 non-null int64
sqft_lot         21597 non-null int64
floors           21597 non-null float64
waterfront       19221 non-null float64
view             21534 non-null float64
condition        21597 non-null int64
grade            21597 non-null int64
sqft_above       21597 non-null int64
sqft_basement    21597 non-null object
yr_built         21597 non-null int64
yr_renovated     17755 non-null float64
zipcode          21597 non-null int64
lat              21597 non-null float64
long             21597 non-null float64
sqft_living15    21597 non-null int64
sqft_lot15       21597 non-null int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.5+ MB

In [21]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.159700e+04,2.159700e+04,21597.000000,21597.000000,21597.000000,2.159700e+04,21597.000000,19221.000000,21534.000000,21597.000000,21597.000000,21597.000000,21597.000000,17755.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000
mean,4.580474e+09,5.402966e+05,3.373200,2.115826,2080.321850,1.509941e+04,1.494096,0.007596,0.233863,3.409825,7.657915,1788.596842,1970.999676,83.636778,98077.951845,47.560093,-122.213982,1986.620318,12758.283512
std,2.876736e+09,3.673681e+05,0.926299,0.768984,918.106125,4.141264e+04,0.539683,0.086825,0.765686,0.650546,1.173200,827.759761,29.375234,399.946414,53.513072,0.138552,0.140724,685.230472,27274.441950
min,1.000102e+06,7.800000e+04,1.000000,0.500000,370.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,3.000000,370.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.220000e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,1951.000000,0.000000,98033.000000,47.471100,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,1975.000000,0.000000,98065.000000,47.571800,-122.231000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068500e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [23]:
df.sqft_basement.describe()

count     21597
unique      304
top         0.0
freq      12826
Name: sqft_basement, dtype: object

In [6]:
df.waterfront.describe()

count    19221.000000
mean         0.007596
std          0.086825
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: waterfront, dtype: float64

In [7]:
df.yr_renovated.describe()

count    17755.000000
mean        83.636778
std        399.946414
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max       2015.000000
Name: yr_renovated, dtype: float64

In [14]:
df.sqft_basement.unique()

array(['0.0', '400.0', '910.0', '1530.0', '?', '730.0', '1700.0', '300.0',
       '970.0', '760.0', '720.0', '700.0', '820.0', '780.0', '790.0',
       '330.0', '1620.0', '360.0', '588.0', '1510.0', '410.0', '990.0',
       '600.0', '560.0', '550.0', '1000.0', '1600.0', '500.0', '1040.0',
       '880.0', '1010.0', '240.0', '265.0', '290.0', '800.0', '540.0',
       '710.0', '840.0', '380.0', '770.0', '480.0', '570.0', '1490.0',
       '620.0', '1250.0', '1270.0', '120.0', '650.0', '180.0', '1130.0',
       '450.0', '1640.0', '1460.0', '1020.0', '1030.0', '750.0', '640.0',
       '1070.0', '490.0', '1310.0', '630.0', '2000.0', '390.0', '430.0',
       '850.0', '210.0', '1430.0', '1950.0', '440.0', '220.0', '1160.0',
       '860.0', '580.0', '2060.0', '1820.0', '1180.0', '200.0', '1150.0',
       '1200.0', '680.0', '530.0', '1450.0', '1170.0', '1080.0', '960.0',
       '280.0', '870.0', '1100.0', '460.0', '1400.0', '660.0', '1220.0',
       '900.0', '420.0', '1580.0', '1380.0', '475.0', '690.0', '270.0',
       '350.0', '935.0', '1370.0', '980.0', '1470.0', '160.0', '950.0',
       '50.0', '740.0', '1780.0', '1900.0', '340.0', '470.0', '370.0',
       '140.0', '1760.0', '130.0', '520.0', '890.0', '1110.0', '150.0',
       '1720.0', '810.0', '190.0', '1290.0', '670.0', '1800.0', '1120.0',
       '1810.0', '60.0', '1050.0', '940.0', '310.0', '930.0', '1390.0',
       '610.0', '1830.0', '1300.0', '510.0', '1330.0', '1590.0', '920.0',
       '1320.0', '1420.0', '1240.0', '1960.0', '1560.0', '2020.0',
       '1190.0', '2110.0', '1280.0', '250.0', '2390.0', '1230.0', '170.0',
       '830.0', '1260.0', '1410.0', '1340.0', '590.0', '1500.0', '1140.0',
       '260.0', '100.0', '320.0', '1480.0', '1060.0', '1284.0', '1670.0',
       '1350.0', '2570.0', '1090.0', '110.0', '2500.0', '90.0', '1940.0',
       '1550.0', '2350.0', '2490.0', '1481.0', '1360.0', '1135.0',
       '1520.0', '1850.0', '1660.0', '2130.0', '2600.0', '1690.0',
       '243.0', '1210.0', '1024.0', '1798.0', '1610.0', '1440.0',
       '1570.0', '1650.0', '704.0', '1910.0', '1630.0', '2360.0',
       '1852.0', '2090.0', '2400.0', '1790.0', '2150.0', '230.0', '70.0',
       '1680.0', '2100.0', '3000.0', '1870.0', '1710.0', '2030.0',
       '875.0', '1540.0', '2850.0', '2170.0', '506.0', '906.0', '145.0',
       '2040.0', '784.0', '1750.0', '374.0', '518.0', '2720.0', '2730.0',
       '1840.0', '3480.0', '2160.0', '1920.0', '2330.0', '1860.0',
       '2050.0', '4820.0', '1913.0', '80.0', '2010.0', '3260.0', '2200.0',
       '415.0', '1730.0', '652.0', '2196.0', '1930.0', '515.0', '40.0',
       '2080.0', '2580.0', '1548.0', '1740.0', '235.0', '861.0', '1890.0',
       '2220.0', '792.0', '2070.0', '4130.0', '2250.0', '2240.0',
       '1990.0', '768.0', '2550.0', '435.0', '1008.0', '2300.0', '2610.0',
       '666.0', '3500.0', '172.0', '1816.0', '2190.0', '1245.0', '1525.0',
       '1880.0', '862.0', '946.0', '1281.0', '414.0', '2180.0', '276.0',
       '1248.0', '602.0', '516.0', '176.0', '225.0', '1275.0', '266.0',
       '283.0', '65.0', '2310.0', '10.0', '1770.0', '2120.0', '295.0',
       '207.0', '915.0', '556.0', '417.0', '143.0', '508.0', '2810.0',
       '20.0', '274.0', '248.0'], dtype=object)

In [15]:
df['sqft_basement'].value_counts()

0.0       12826
?           454
600.0       217
500.0       209
700.0       208
800.0       201
400.0       184
1000.0      148
900.0       142
300.0       142
200.0       105
750.0       104
480.0       103
450.0       103
530.0       103
720.0        98
620.0        90
580.0        84
840.0        83
420.0        81
860.0        79
1100.0       78
670.0        78
780.0        76
550.0        76
650.0        75
240.0        74
380.0        73
680.0        73
360.0        72
          ...
248.0         1
2350.0        1
1024.0        1
2050.0        1
4820.0        1
295.0         1
415.0         1
2240.0        1
508.0         1
935.0         1
556.0         1
906.0         1
862.0         1
143.0         1
3000.0        1
2196.0        1
1248.0        1
417.0         1
506.0         1
1281.0        1
2250.0        1
1008.0        1
283.0         1
2730.0        1
266.0         1
3500.0        1
588.0         1
1920.0        1
666.0         1
2310.0        1
Name: sqft_basement, Length: 304, dtype: int64

In [8]:
df.isna().sum()

id                  0
date                0
price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront       2376
view               63
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated     3842
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
dtype: int64

In [10]:
null_data = df[df.isnull().any(axis=1)]
null_data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
7,2008000270,1/15/2015,291850.0,3,1.50,1060,9711,1.0,0.0,NaN,...,7,1060,0.0,1963,0.0,98198,47.4095,-122.315,1650,9711
10,1736800520,4/3/2015,662500.0,3,2.50,3560,9796,1.0,NaN,0.0,...,8,1860,1700.0,1965,0.0,98007,47.6007,-122.145,2210,8925
12,114101516,5/28/2014,310000.0,3,1.00,1430,19901,1.5,0.0,0.0,...,7,1430,0.0,1927,NaN,98028,47.7558,-122.229,1780,12697
23,8091400200,5/16/2014,252700.0,2,1.50,1070,9643,1.0,NaN,0.0,...,7,1070,0.0,1985,NaN,98030,47.3533,-122.166,1220,8386
26,1794500383,6/26/2014,937000.0,3,1.75,2450,2691,2.0,0.0,0.0,...,8,1750,700.0,1915,NaN,98119,47.6386,-122.360,1760,3573
28,5101402488,6/24/2014,438000.0,3,1.75,1520,6380,1.0,0.0,0.0,...,7,790,730.0,1948,NaN,98115,47.6950,-122.304,1520,6235
40,5547700270,7/15/2014,625000.0,4,2.50,2570,5520,2.0,NaN,0.0,...,9,2570,0.0,2000,NaN,98074,47.6145,-122.027,2470,5669
45,8035350320,7/18/2014,488000.0,3,2.50,3160,13603,2.0,0.0,0.0,...,8,3160,0.0,2003,NaN,98019,47.7443,-121.977,3050,9232
52,7518505990,12/31/2014,600000.0,3,1.75,1410,4080,1.0,0.0,0.0,...,7,1000,410.0,1950,NaN,98117,47.6808,-122.384,1410,4080
55,9822700295,5/12/2014,885000.0,4,2.50,2830,5000,2.0,NaN,0.0,...,9,2830,0.0,1995,0.0,98105,47.6597,-122.290,1950,5000
56,9478500640,8/19/2014,292500.0,4,2.50,2250,4495,2.0,0.0,0.0,...,7,2250,0.0,2008,NaN,98042,47.3663,-122.114,2250,4500
58,7922800400,8/27/2014,951000.0,5,3.25,3250,14342,2.0,0.0,4.0,...,8,3250,0.0,1968,NaN,98008,47.5880,-122.116,2960,11044
60,1516000055,12/10/2014,650000.0,3,2.25,2150,21235,1.0,NaN,3.0,...,8,1590,560.0,1959,0.0,98166,47.4336,-122.339,2570,18900
62,5072410070,10/21/2014,505000.0,3,1.75,2519,8690,2.0,NaN,0.0,...,8,2519,0.0,1973,0.0,98166,47.4428,-122.344,2500,9500
66,3394100030,9/9/2014,975000.0,4,2.50,2720,11049,2.0,NaN,0.0,...,10,2720,0.0,1989,0.0,98004,47.5815,-122.192,2750,11049
68,1274500060,8/25/2014,204000.0,3,1.00,1000,12070,1.0,0.0,0.0,...,7,1000,0.0,1968,NaN,98042,47.3621,-122.110,1010,12635
73,5416510140,7/10/2014,360000.0,4,2.50,2380,5000,2.0,0.0,0.0,...,8,2380,0.0,2005,NaN,98038,47.3608,-122.036,2420,5000
76,4036801170,10/13/2014,380000.0,4,1.75,1760,7300,1.0,0.0,0.0,...,7,880,880.0,1956,NaN,98008,47.6034,-122.125,1680,7500
77,2391600320,4/20/2015,480000.0,3,1.00,1040,5060,1.0,0.0,0.0,...,7,1040,0.0,1941,NaN,98116,47.5636,-122.394,890,5060
87,3342103156,6/18/2014,461000.0,3,3.25,2770,6278,2.0,NaN,0.0,...,9,1980,790.0,2006,0.0,98056,47.5228,-122.199,1900,7349
88,1332700270,5/19/2014,215000.0,2,2.25,1610,2040,2.0,0.0,0.0,...,7,1610,0.0,1979,NaN,98056,47.5180,-122.194,1950,2025
89,3869900162,9/4/2014,335000.0,2,1.75,1030,1066,2.0,0.0,0.0,...,7,765,265.0,2006,NaN,98136,47.5394,-122.387,1030,1106
105,1328310370,4/2/2015,375000.0,3,2.50,2340,10005,1.0,NaN,0.0,...,8,1460,880.0,1978,NaN,98058,47.4431,-122.133,2250,8162
110,9545230140,7/25/2014,597750.0,4,2.50,2310,9624,2.0,0.0,0.0,...,8,2310,0.0,1984,NaN,98027,47.5386,-122.053,1940,9636
114,8961960160,10/28/2014,480000.0,4,2.50,3230,16171,2.0,0.0,NaN,...,9,2520,710.0,2001,0.0,98001,47.3183,-122.253,2640,8517
115,3626039325,11/21/2014,740500.0,3,3.50,4380,6350,2.0,0.0,0.0,...,8,2780,?,1900,NaN,98117,47.6981,-122.368,1830,6350
118,3454800060,1/8/2015,171800.0,4,2.00,1570,9600,1.0,NaN,0.0,...,6,1570,0.0,1950,0.0,98168,47.4965,-122.303,1880,9000
121,6675500070,11/19/2014,391500.0,3,2.00,1450,9132,1.0,0.0,0.0,...,7,1450,0.0,1987,NaN,98034,47.7288,-122.226,1580,9104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21513,2487200490,6/23/2014,670000.0,3,2.50,3310,5300,2.0,0.0,2.0,...,8,2440,870.0,2008,NaN,98136,47.5178,-122.389,2140,7500
21514,8964800330,4/7/2015,3000000.0,4,3.75,5090,14823,1.0,0.0,0.0,...,11,4180,910.0,2013,NaN,98004,47.6200,-122.207,3030,12752
21518,889000025,8/11/2014,599000.0,3,1.75,1650,1180,3.0,0.0,0.0,...,8,1650,0.0,2014,NaN,98105,47.6636,-122.319,1720,1960
21522,1865400076,5/9/2014,324000.0,3,2.25,998,904,2.0,0.0,0.0,...,7,798,200.0,2007,NaN,98117,47.6983,-122.367,998,1110
21523,8902000201,2/19/2015,338500.0,3,2.25,1333,1470,3.0,0.0,3.0,...,7,1333,0.0,2009,NaN,98125,47.7058,-122.302,1360,1680
21526,3874900085,2/27/2015,715000.0,4,3.25,2630,7770,2.0,0.0,0.0,...,9,2630,0.0,2014,NaN,98126,47.5459,-122.377,1370,7770
21536,688000017,6/27/2014,516500.0,1,1.25,1100,638,3.0,NaN,0.0,...,9,1100,0.0,2014,0.0,98112,47.6228,-122.307,1110,1933
21540,476000017,10/3/2014,553000.0,2,2.00,1400,1512,2.0,0.0,0.0,...,8,940,460.0,2006,NaN,98107,47.6719,-122.392,1400,3500
21541,2770603523,4/22/2015,530000.0,3,2.50,1410,1250,2.0,0.0,0.0,...,8,1140,270.0,2010,NaN,98119,47.6515,-122.375,1720,2825
21544,423059387,11/18/2014,540000.0,5,2.50,3370,4850,2.0,NaN,0.0,...,9,3370,0.0,2007,0.0,98056,47.5078,-122.169,2900,5570
21545,6664500090,1/15/2015,750000.0,5,4.00,4500,8130,2.0,NaN,0.0,...,10,4500,0.0,2007,0.0,98059,47.4832,-122.145,2840,8402
21550,3528900770,4/23/2015,710200.0,4,3.00,1670,2642,2.0,NaN,0.0,...,8,1350,320.0,2008,0.0,98109,47.6397,-122.345,1670,2594
21551,9521100031,6/18/2014,690000.0,3,3.25,1540,1428,3.0,0.0,0.0,...,9,1540,0.0,2013,NaN,98103,47.6648,-122.353,1660,3300
21553,6021503705,10/15/2014,329000.0,2,2.50,980,1020,3.0,0.0,0.0,...,8,980,0.0,2008,NaN,98117,47.6844,-122.387,980,1023
21556,6056111067,7/7/2014,230000.0,3,1.75,1140,1201,2.0,0.0,0.0,...,8,1140,0.0,2014,NaN,98108,47.5637,-122.295,1210,1552
21562,567000385,6/23/2014,362500.0,2,1.50,940,1768,2.0,NaN,0.0,...,7,940,0.0,2009,0.0,98144,47.5925,-122.295,1130,1159
21565,7853420110,5/4/2015,625000.0,3,3.00,2780,6000,2.0,0.0,0.0,...,9,2780,0.0,2013,NaN,98065,47.5184,-121.886,2850,6000
21567,2025049203,6/10/2014,399950.0,2,1.00,710,1157,2.0,NaN,0.0,...,7,710,0.0,1943,0.0,98102,47.6413,-122.329,1370,1173
21575,4140940150,10/2/2014,572000.0,4,2.75,2770,3852,2.0,0.0,0.0,...,8,2770,0.0,2014,NaN,98178,47.5001,-122.232,1810,5641
21576,1931300412,4/16/2015,475000.0,3,2.25,1190,1200,3.0,0.0,0.0,...,8,1190,0.0,2008,NaN,98103,47.6542,-122.346,1180,1224
21577,8672200110,3/17/2015,1090000.0,5,3.75,4170,8142,2.0,0.0,2.0,...,10,4170,0.0,2006,NaN,98056,47.5354,-122.181,3030,7980
21578,5087900040,10/17/2014,350000.0,4,2.75,2500,5995,2.0,NaN,0.0,...,8,2500,0.0,2008,0.0,98042,47.3749,-122.107,2530,5988
21579,1972201967,10/31/2014,520000.0,2,2.25,1530,981,3.0,0.0,0.0,...,8,1480,50.0,2006,NaN,98103,47.6533,-122.346,1530,1282
21581,191100405,4/21/2015,1580000.0,4,3.25,3410,10125,2.0,0.0,0.0,...,10,3410,?,2007,NaN,98040,47.5653,-122.223,2290,10125
21582,8956200760,10/13/2014,541800.0,4,2.50,3118,7866,2.0,NaN,2.0,...,9,3118,0.0,2014,0.0,98001,47.2931,-122.264,2673,6500
21583,7202300110,9/15/2014,810000.0,4,3.00,3990,7838,2.0,0.0,0.0,...,9,3990,0.0,2003,NaN,98053,47.6857,-122.046,3370,6814
21586,844000965,6/26/2014,224000.0,3,1.75,1500,11968,1.0,NaN,0.0,...,6,1500,0.0,2014,0.0,98010,47.3095,-122.002,1320,11303
21587,7852140040,8/25/2014,507250.0,3,2.50,2270,5536,2.0,NaN,0.0,...,8,2270,0.0,2003,0.0,98065,47.5389,-121.881,2270,5731
21589,3448900210,10/14/2014,610685.0,4,2.50,2520,6023,2.0,0.0,NaN,...,9,2520,0.0,2014,0.0,98056,47.5137,-122.167,2520,6023
21595,291310100,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,0.0,...,8,1600,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287

In [11]:
null_data.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,5.835000e+03,5.835000e+03,5835.000000,5835.000000,5835.000000,5.835000e+03,5835.000000,3459.000000,5772.000000,5835.000000,5835.000000,5835.000000,5835.000000,1993.000000,5835.000000,5835.000000,5835.000000,5835.000000,5835.000000
mean,4.545656e+09,5.375396e+05,3.357669,2.102399,2069.002057,1.460936e+04,1.491260,0.007517,0.244456,3.407027,7.642159,1777.309169,1970.698372,93.099849,98079.015081,47.562568,-122.215233,1976.897686,12374.344302
std,2.878468e+09,3.539294e+05,0.901428,0.774836,916.705702,4.028300e+04,0.540612,0.086384,0.777441,0.646754,1.175748,825.983536,29.479152,420.926563,53.767540,0.138324,0.140774,688.125476,25276.824511
min,1.000102e+06,7.800000e+04,1.000000,0.500000,430.000000,6.000000e+02,1.000000,0.000000,0.000000,1.000000,4.000000,430.000000,1900.000000,0.000000,98001.000000,47.162200,-122.511000,460.000000,651.000000
25%,2.112700e+09,3.230000e+05,3.000000,1.500000,1420.000000,5.038500e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1180.000000,1951.000000,0.000000,98033.000000,47.475050,-122.329500,1470.000000,5083.000000
50%,3.876200e+09,4.500000e+05,3.000000,2.250000,1900.000000,7.638000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1550.000000,1974.000000,0.000000,98070.000000,47.574400,-122.233000,1820.000000,7620.000000
75%,7.281300e+09,6.455000e+05,4.000000,2.500000,2530.000000,1.060150e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2200.000000,1996.000000,0.000000,98118.000000,47.679750,-122.127000,2340.000000,10003.000000
max,9.900000e+09,5.570000e+06,8.000000,6.750000,9200.000000,1.074218e+06,3.500000,1.000000,4.000000,5.000000,13.000000,8020.000000,2015.000000,2015.000000,98199.000000,47.777500,-121.315000,5790.000000,392040.000000

In [25]:
df_question = df.loc[df['sqft_basement'] == "?"]

In [26]:
df_question.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,4.540000e+02,4.540000e+02,454.000000,454.000000,454.000000,454.000000,454.000000,417.000000,452.000000,454.000000,454.000000,454.000000,454.000000,366.000000,454.000000,454.000000,454.000000,454.000000,454.000000
mean,4.555794e+09,5.303233e+05,3.403084,2.104075,2052.431718,15670.872247,1.517621,0.009592,0.258850,3.405286,7.640969,1766.607930,1969.903084,114.273224,98081.814978,47.551643,-122.218927,1956.299559,13659.028634
std,2.898736e+09,3.330030e+05,0.989164,0.790597,897.855170,50029.197716,0.559602,0.097587,0.794542,0.653446,1.124166,797.471819,31.773889,463.833410,52.358006,0.136576,0.146571,664.449227,31810.906918
min,1.120040e+07,1.025000e+05,1.000000,0.500000,600.000000,681.000000,1.000000,0.000000,0.000000,1.000000,5.000000,600.000000,1900.000000,0.000000,98001.000000,47.193400,-122.462000,740.000000,977.000000
25%,2.066505e+09,3.207500e+05,3.000000,1.500000,1430.000000,5000.000000,1.000000,0.000000,0.000000,3.000000,7.000000,1162.500000,1944.250000,0.000000,98033.250000,47.460550,-122.334000,1490.000000,5000.000000
50%,3.883402e+09,4.570000e+05,3.000000,2.250000,1900.000000,7200.000000,1.500000,0.000000,0.000000,3.000000,7.000000,1595.000000,1975.000000,0.000000,98074.000000,47.561100,-122.266500,1800.000000,7211.000000
75%,7.235076e+09,6.495000e+05,4.000000,2.500000,2510.000000,10481.000000,2.000000,0.000000,0.000000,4.000000,8.000000,2180.000000,1999.000000,0.000000,98118.750000,47.668475,-122.128250,2337.500000,9902.250000
max,9.834200e+09,3.420000e+06,7.000000,5.500000,6930.000000,881654.000000,3.000000,1.000000,4.000000,5.000000,11.000000,5450.000000,2015.000000,2014.000000,98199.000000,47.774600,-121.364000,4560.000000,438213.000000